################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/赤江瀑.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/赤江瀑.slnx/config
/.vs
/Cloudflare Dashboard - Manage Your Account.url
/kaworu20220420-AkaeBakuBibliography- 赤江瀑の書誌データ.url
/獣林寺妖変（講談社）.url
/赤江瀑 書誌データベース.url
