################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/赤江瀑.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/赤江瀑.slnx/config
/.vs
